---
import astroLogo from '../assets/astro.svg';
import logo from '../assets/photo.png';
import projects from '../assets/proyecto.jpg';
import Github from './icons/Github.astro';
import Mail from './icons/Mail.astro';
import Image from 'astro/components/Image.astro';
---

<div class="min-w-[535px] max-w-screen-sm mx-auto py-16 px-8" id="container">
	<header class="text-white">
		<nav class="w-full flex justify-between items-center md:">
			<span class="text-xl">Home</span>
			<div class="flex gap-3 items-center">
				<a class="hover:bg-zinc-800 hover:border-zinc-600 border border-transparent p-2 rounded-md transition" href="mailto:yusnelleyvag@gmail.com" target="_blank"><Mail /></a>
				<a class="hover:bg-zinc-800 hover:border-zinc-600 border border-transparent p-2 rounded-md transition" href="https://github.com/yusnelgg" target="_blank"><Github /></a>
			</div>
		</nav>
		<div class="flex items-center justify-between mt-6">
			<div>
				<h1 class="text-4xl font-bold block">Yusnel Leyva</h1> 
				<p class="text-2xl text-zinc-400"><em>Fullstack Developer</em></p> 
				<p class="text-1xl text-gray-500 mt-0.5"><em>JS/TS · PHP · C#</em><span class="ml-2 mb-5">❤️</span></p> 
			</div>
			<div>
					<Image 
					  src={logo} 
					  alt="Imagen flotante" 
					  class="animate-float w-58 -mt-6"
					 />
			</div>
		</div>
	</header>
	<main class="gap-2">
		<h4 style="border-bottom: 2px solid #9f9fa9;" class="text-1xl text-gray-300 pb-0.5 mb-3">Projects</h4>
		<div class="flex gap-5 justify-center">
			<div class="bg-[#0c1121] w-[275px] text-center rounded-xl flex gap-1.5 flex-col">
				<Image 
					  src={projects} 
					  alt="Imagen flotante" 
					  class="w-full size-42 rounded-t-2xl"
					 />
					 <div class="flex justify-between">
						<h3 class="text-white ml-3 font-bold">Livewire UI</h3>
						<h3 class="text-white mr-3">Livewire UI</h3>
					</div>
					 <p class="text-zinc-400 pb-1 ml-3 mr-3 text-left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, maxime? Nulla odit sapiente sunt ullam culpa temporibus. Obcaecati illo placeat ratione fugit esse dolorum provident nostrum laboriosam. Expedita, esse veritatis?</p>
					 <div class="flex ml-3 gap-1 mb-2">
						<a class="text-white" href="http://test">Preview </a>
						<span class="text-white">/</span>
						<a class="text-white" href="http://test2"> Github</a></div>
			</div>
			<div class="bg-[#0c1121] w-[275px] text-center rounded-xl flex gap-1.5 flex-col">
				<Image 
					  src={projects} 
					  alt="Imagen flotante" 
					  class="w-full size-42 rounded-t-2xl"
					 />
					 <div class="flex justify-between">
						<h3 class="text-white ml-3 font-bold">Livewire UI</h3>
						<h3 class="text-white mr-3">Livewire UI</h3>
					</div>
					 <p class="text-zinc-400 pb-1 ml-3 mr-3 text-left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, maxime? Nulla odit sapiente sunt ullam culpa temporibus. Obcaecati illo placeat ratione fugit esse dolorum provident nostrum laboriosam. Expedita, esse veritatis?</p>
					 <div class="flex ml-3 gap-1 mb-2">
						<a class="text-white" href="http://test">Preview </a>
						<span class="text-white">/</span>
						<a class="text-white" href="http://test2"> Github</a></div>
			</div>
		</div>
	</main>
	<main class="gap-2 mt-16">
		<h4 style="border-bottom: 2px solid #9f9fa9;" class="text-1xl text-gray-300 pb-0.5 mb-1.5">About me</h4>
		<p class="text-zinc-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ea libero quam voluptates et necessitatibus natus doloremque quia nisi, suscipit placeat praesentium dicta consectetur, ut veniam officia. Iusto, autem esse.</p>
	</main>
	<footer class="mt-28 flex justify-between">
		<span class="text-[17px] text-zinc-400 opacity-65">@yusnelgg</span>
		<span class="text-[17px] text-zinc-400">❤️</span>
	</footer>
</div>
